body {
  background-color: rgb(173, 228, 196);
  margin: 0;
  font-family: Arial, sans-serif;
}
.navelement {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  align-content: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 30px;
}

.current {
  display: block;
  color: white;
  background-color: #887e7e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 30px;
}
.nav:hover {
  background-color: #ddd;
  color: black;
}

.container {
  background-color: rgb(125, 196, 155);
  border-radius: 25px;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 10px;
}

  h1 {
    color: blue;
  }
  p {
    color: black;
  }
  .contactinfo {
    font-size: 20px;
  }