body {
  background-color: rgb(173, 228, 196);
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  background-color: #333;
  padding: 10px;
}
.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.current {
  display: block;
  color: white;
  background-color: #887e7e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav:hover {
  background-color: #ddd;
  color: black;
}
  h1 {
    color: blue;
  }
  p {
    color: black;
  }
  li {
    font-size: 20px;
  }